/* Small screens */
body{
    background-color:red;
    color:white;
    text-align:center;
    font-family:Arial, sans-serif;
    transition:background-color .5s;
}

/* Medium screens */
@media screen and (min-width:600px){

    body{
        background-color:blue;
    }

}

/* Large screens */
@media screen and (min-width:992px){

    body{
        background-color:green;
    }

}